
body {
    margin: 20px 120px 60px 120px;
}
main h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size:48px;
}

.float-left {
    float: left;
}
.main-date {
    padding: 0;
    margin-top: -35px;
    color: grey;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin-bottom: 55px;
}

.float-right {
    float: right;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    color: grey;
    font-size: 16px;
}

.print {
    display: inline-block;
    margin-top: 45px;
}

.directions {
    text-indent: 5%;
    font-size: 20px;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.notepad-list-all {
  background-image: url('img/list-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: auto;
  height: 350px;
  line-height: 40px;
}
.notepad-list-one {
  float: left;
  margin-left: 230px;
  font-size: 23px;
  margin-top: 40px;
  list-style-type: none;
}
.notepad-list-two {
  float: left;
  margin-left: 120px;
  font-size: 23px;
  margin-top: 40px;
  list-style-type: none;
}

header .logo-section {
  float: left;
}

.logo-name {
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
  margin-top: 10px;
}

.logo-text {
  display: inline-block;
}

.logo-small {
  font-size: 0.8rem;
}

header .logo-section p {
  margin: 0;
  display: block;
}

header ul {
  float: right;
  margin-bottom: 20px;
}

header ul li {
  display: inline-block;
}

.rss-icon {
  margin-left: 10px;
}

header hr {
  clear: both;
  height: 10px;
  border: none;
  border-bottom: 8px dashed #999;
}
